Android/NFC_Flower/.settings/org.eclipse.core.resources.prefs
*.class
Android/NFC_Flower/bin/
Android/NFC_Flower/gen/
Android/NFC_Flower_Service/bin/
Android/NFC_Flower_Service/gen/
Android/flowe-alljoyn

Android/NFC_Flower/.svn/
Android/NFC_Flower_Service/.svn/